<div class="agile_wthree_nav">
    <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" asp-controller="Home" asp-action="Index"><span><i class="fa fa-home" aria-hidden="true"></i></span>Paradise Homes</a></h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <nav class="link-effect-8" id="link-effect-8">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")"><a asp-action="About" asp-controller="Home">About</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Gallery" ? "active" : "")"><a asp-action="Gallery" asp-controller="Home">Gallery</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Blog" ? "active" : "")"><a asp-action="Blog" asp-controller="Home">Blog</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")"><a asp-action="Contact" asp-controller="Home">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="agile_search">
            <!-- cd-search -->
            <div class="cd-main-header">
                <ul class="cd-header-buttons">
                    <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                </ul>
                <!-- cd-header-buttons -->
            </div>
            <div id="cd-search" class="cd-search agileinfo">
                <form action="#" method="post">
                    <input name="Search" type="search" placeholder="Click enter after typing...">
                </form>
            </div>
            <!-- //cd-search -->

        </div>
    </nav>

</div>